name: learning_example
description: Demonstrates how to use the learning plugin.
publish_to: 'none'

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  learning:
    path: ../
  
dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true